// Pagination elements

.pagination__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0 38px 0;
  padding: 0;
  counter-reset: list;
}

.pagination__item {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid $secondary-border-color;
  border-radius: 5px;
}

.pagination__item::before {
  counter-increment: list;
  content: counter(list);
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.pagination__item::after {
  content: "";
  position: absolute;
  border-color: $secondary-border-color;
  border-style: solid;
  border-width: 1px;
  width: 54px;
  top: 23px;
  left: 46px;
}

.pagination__item:last-child::after {
  content: none;
}

.pagination__item_active, .pagination__item_completed {
  border: 2px solid $main-accent-color;
}

.pagination__item_completed::before {
  content: "";
  background-image: url("../assets/icons/completed-icon.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

.pagination__item_completed::after {
  content: "";
  position: absolute;
  border-color: $main-accent-color;
  border-style: solid;
  border-width: 1px;
  width: 54px;
  top: 23px;
  left: 46px;
}

// Form elements

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  border-style: none;
  border-width: 0;
}

.form__legend {
  margin-bottom: 35px;
  color: $main-text-color;
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  text-align: center;
}

.form__input-wrapper {
  margin-bottom: 25px;
}

.form__label {
  display: block;
  padding-left: 25px;
  padding-bottom: 10px;
  color: $main-text-color;
  font-size: $font-size-regular;
}

.form__input {
  position: relative;
  width: 361px;
  height: 49px;
  padding: 15px 25px;
  background-color: $main-background-color;
  border: 1px solid $main-border-color;
  border-radius: 5px;
  font-size: $font-size-small;
}

.form__select {
  font-size: $font-size-small;
  color: $main-text-color;
  line-height: 1.3;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $main-background-color;
  background-image: url("../assets/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 15px auto;
}

.select__option {
  font-size: $font-size-regular;
}

// Button

.button {
  background-color: $main-background-color;
  padding: 18px 18px;
  border: 1px solid $main-accent-color;
  border-radius: 5px;
  color: $main-text-color;
  cursor: pointer;
  font-size: $font-size-regular;
}

.button__text {
  padding: 10px 15px;
}

.button:hover {
  background-color: $main-accent-color;
  color: $main-background-color;
}

.button_filled {
  background-color: $main-accent-color;
  color: $main-background-color;
}

.button_filled:hover {
  background-color: $main-background-color;
  color: $main-text-color;
}

.button_centered {
  margin: 0 auto;
}

.button_icon_right-arrow {
  background-image: url('../assets/icons/arrow-right-black.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.button_icon_right-arrow:hover {
  background-image: url('../assets/icons/arrow-right-white.svg');
}

.button_icon_left-arrow {
  background-image: url('../assets/icons/arrow-left-black.svg');
  background-repeat: no-repeat;
  background-position: left 10px top 50%;
}

.button_icon_left-arrow:hover {
  background-image: url('../assets/icons/arrow-left-white.svg');
}

.button_filled_right-arrow {
  background-image: url('../assets/icons/arrow-right-white.svg');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.button_filled_right-arrow:hover {
  background-image: url('../assets/icons/arrow-right-black.svg');
}

