.page {
  font-family: "Roboto", sans-serif;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: $main-background-color;
}

.page__content {
  width: 558px;
  margin: 0 auto;
  padding: 45px 100px;
}
