// Color variables
$main-background-color: #ffffff;
$main-text-color: #222222;
$secondary-text-color: #bfbfbf;
$main-accent-color: #ffc000;
$main-border-color: #e6e6e6;
$secondary-border-color: #e5e5e5;

// Font sizes
$font-size-big: 24px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-smallest: 11px;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
